#download {

    color: white;
    background-color: orangered;
    background-size: 7px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    padding: 20px 9px;
}

#About {

    color: white;
    background-color: orangered;
    background-size: 7px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    padding: 20px 9px;
}

#News {

    color: white;
    background-color: orangered;
    background-size: 7px;
    border-radius: 10px;
    box-shadow: 3px 3px black;
    padding: 20px 9px;
}